body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-list {
    height: 10vh;
    display: flex;
    width: 50%;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin-left: auto;
}

.home,
.about {
    height: 90vh;
    position: absolute;
    width: 100%;
}

.home-content,
.about-content {
    display: flex;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    img {
        height: 70%;
    }
    h1 {
        font-size: 50px;
        margin: 30px 0;
    }
}

.home {
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}

.about {
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}

.nav-links {
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
}
